<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Job</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>
    <h2>Add Job</h2>
    <form id="addJobForm">
        <label for="jobTitle">Job Title: </label>
        <input type="text" id="jobTitle" name="jobTitle" required>
        <label for="companyName">Company Name: </label>
        <input type="text" id="companyName" name="companyName" required>
        <label for="location">Location: </label>
        <input type="text" id="location" name="location" required>
        <label for="applicationDate">Application Date: </label>
        <input type="date" id="applicationDate" name="applicationDate" required>
        <label for="status">Status: </label>
        <select id="status" name="status" required>
            <option value="Applied">Applied</option>
            <option value="Interviewing">Interviewing</option>
            <option value="Offer">Offer</option>
            <option value="Rejected">Rejected</option>
        </select>
        <label for="salary">Salary: </label>
        <input type="number" id="salary" name="salary" required>
        <label for="followUpDate">Follow Up Date: </label>
        <input type="date" id="followUpDate" name="followUpDate" required>
        <label for="notes">Notes: </label>
        <textarea id="notes" name="notes" required></textarea>
        <label for="resume">Upload Resume: </label>
        <input type="file" id="resume" name="resume" required>

        <button type="submit">Add Job</button>
    </form>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.8/axios.min.js"
        integrity="sha512-v8+bPcpk4Sj7CKB11+gK/FnsbgQ15jTwZamnBf/xDmiQDcgOIYufBo6Acu1y30vrk8gg5su4x0CG3zfPaq5Fcg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="../js/addJob.js"></script>
</body>

</html>